In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import openpyxl

C:\Users\Hp\AppData\Local\Temp\ipykernel_16452\851451373.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

we are import libraries that will enable us to run the datasets

In [2]:
ian = pd.read_excel(r'C:\\Users\\Hp\\Desktop\\Datasets for practical\\CerealData.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\\\Users\\\\Hp\\\\Desktop\\\\Datasets for practical\\\\CerealData.xlsx'

here we are importing the dataset we want to use and anyalize...

In [22]:
ian.head()

,Cereal Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Product,Cereal Name,Manufacturer,Calories,Sodium,Fiber,Carbs,Sugars
2,1,100% Bran,Nabisco,70,130,10,5,6
3,2,AlI-Bran,Kellogg,70,260,9,7,5
4,3,All-Bran w/Extra Fiber,Kellogg,50,140,14,8,0

this where we are displaying our dataset to see what we have in it ...........................

In [23]:
ian = pd.read_excel(r'C:\\Users\\Hp\\Desktop\\Datasets for practical\\CerealData.xlsx',header=2)

if u see when displayed our data we saw we had nan value and headings for the columns started on line 2 so to remove all that and we make line 2 the heading we to use the header=2 to remove those empty space and make line 2 the heading and it from there ..

In [28]:
ian=pd.read_excel(r'C:\\Users\\Hp\\Desktop\\Datasets for practical\\CerealData.xlsx',header=2)

In [29]:
ian.head(10)

,Product,Cereal Name,Manufacturer,Calories,Sodium,Fiber,Carbs,Sugars
0,1,100% Bran,Nabisco,70,130,10.0,5.0,6
1,2,AlI-Bran,Kellogg,70,260,9.0,7.0,5
2,3,All-Bran w/Extra Fiber,Kellogg,50,140,14.0,8.0,0
3,4,Almond Delight,Ralston Purina,110,200,1.0,14.0,8
4,5,Apple Cinn Cheerios,General Mills,110,180,1.5,10.5,10
5,6,Apple Jacks,Kellogg,110,125,1.0,11.0,14
6,7,Basic 4,General Mills,130,210,2.0,18.0,8
7,8,Bran Chex,Ralston Purina,90,200,4.0,15.0,6
8,9,Bran Flakes,Post,90,210,5.0,13.0,5
9,10,Cap'n'Crunch,Quaker,120,220,0.0,12.0,12

we are confirming if we have made the header to be in the first row

In [30]:
ian.dtypes

Product           int64
Cereal Name      object
Manufacturer     object
Calories          int64
Sodium            int64
Fiber           float64
Carbs           float64
Sugars            int64
dtype: object

we are looking for data types in our dataset

In [31]:
ian.shape

(67, 8)

we are want to know how many rows and column

In [32]:
ian.isnull()

    Product  Cereal Name  Manufacturer  Calories  Sodium  Fiber  Carbs  Sugars
0     False        False         False     False   False  False  False   False
1     False        False         False     False   False  False  False   False
2     False        False         False     False   False  False  False   False
3     False        False         False     False   False  False  False   False
4     False        False         False     False   False  False  False   False
..      ...          ...           ...       ...     ...    ...    ...     ...
62    False        False         False     False   False  False  False   False
63    False        False         False     False   False  False  False   False
64    False        False         False     False   False  False  False   False
65    False        False         False     False   False  False  False   False
66    False        False         False     False   False  False  False   False

[67 rows x 8 columns]

we are finding null value in the dataset 
true mean we have null values and false means we dont null values.

In [36]:
ian.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
62    False
63    False
64    False
65    False
66    False
Length: 67, dtype: bool

we are trying to find the duplicates in our dataset and there is no duplicates...................

In [38]:
ian.isnull().sum()

Product         0
Cereal Name     0
Manufacturer    0
Calories        0
Sodium          0
Fiber           0
Carbs           0
Sugars          0
dtype: int64

here we are get values and and sums each in the column in figures

In [39]:
ian.info

<bound method DataFrame.info of     Product             Cereal Name    Manufacturer  Calories  Sodium  Fiber  \
0         1               100% Bran         Nabisco        70     130   10.0
1         2                AlI-Bran         Kellogg        70     260    9.0
2         3  All-Bran w/Extra Fiber         Kellogg        50     140   14.0
3         4          Almond Delight  Ralston Purina       110     200    1.0
4         5     Apple Cinn Cheerios   General Mills       110     180    1.5
..      ...                     ...             ...       ...     ...    ...
62       63       Total Whole Grain   General Mills       100     200    3.0
63       64                    Trix   General Mills       110     140    0.0
64       65              Wheat Chex  Ralston Purina       100     230    3.0
65       66                Wheaties   General Mills       100     200    3.0
66       67     Wheaties Honey Gold   General Mills       110     200    1.0

    Carbs  Sugars
0     5.0       6
1     7.0       5
2     8.0       0
3    14.0       8
4    10.5      10
..    ...     ...
62   16.0       3
63   13.0      12
64   17.0       3
65   17.0       3
66   18.0       8

[67 rows x 8 columns]>