In [13]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import openpyxl

we are import libraries that will enable us to run the datasets

In [21]:
ian = pd.read_excel(r'C:\\Users\\Hp\\Desktop\\Datasets for practical\\CerealData.xlsx')

here we are importing the dataset we want to use and anyalize...

In [22]:
ian.head()

,Cereal Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Product,Cereal Name,Manufacturer,Calories,Sodium,Fiber,Carbs,Sugars
2,1,100% Bran,Nabisco,70,130,10,5,6
3,2,AlI-Bran,Kellogg,70,260,9,7,5
4,3,All-Bran w/Extra Fiber,Kellogg,50,140,14,8,0

this where we are displaying our dataset to see what we have in it ...

In [23]:
ian = pd.read_excel(r'C:\\Users\\Hp\\Desktop\\Datasets for practical\\CerealData.xlsx',header=2)

if u see when displayed our data we saw we had nan value and headings for the columns started on line 2 so to remove all that and we make line 2 the heading we to use the header=2 to remove those empty space and make line 2 the heading and it from there ..

In [28]:
ian=pd.read_excel(r'C:\\Users\\Hp\\Desktop\\Datasets for practical\\CerealData.xlsx',header=2)