In [13]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import openpyxl

we are import libraries that will enable us to run the datasets

In [17]:
ian = pd.read_excel(r'C:\\Users\\Hp\\Desktop\\Datasets for practical\\CerealData.xlsx')

here we are importing the dataset we want to use and anyalize...

In [18]:
ian.head()

,Product,Cereal Name,Manufacturer,Calories,Sodium,Fiber,Carbs,Sugars
0,1,100% Bran,Nabisco,70,130,10.0,5.0,6
1,2,AlI-Bran,Kellogg,70,260,9.0,7.0,5
2,3,All-Bran w/Extra Fiber,Kellogg,50,140,14.0,8.0,0
3,4,Almond Delight,Ralston Purina,110,200,1.0,14.0,8
4,5,Apple Cinn Cheerios,General Mills,110,180,1.5,10.5,10